PORT=3007
APP_NAME='Deo Backend'
APP_ENV=dev

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB_NAME=ceres

MYSQL_SLAVE_HOST=localhost
MYSQL_SLAVE_PORT=3306
MYSQL_SLAVE_USER=root
MYSQL_SLAVE_PASSWORD=root
MYSQL_SLAVE_DB_NAME=ceres

PG_HOST=localhost
PG_PORT=5432
PG_USER=root
PG_PASSWORD=root
PG_DB_NAME=ceres

TELEGRAM_BOT_TOKEN=
TELEGRAM_ERROR_CHAT_ID=
TELEGRAM_WARN_CHAT_ID=

LOG_DEBUG=true

GAME_SOLANA_WALLET=

AUTH_SERVICE_BASE_URL=https://api.cerestoken.io/auth/api

SOLANA_RPC_URL=https://api.devnet.solana.com
PROGRAM_ID=6DpfdoF5HV6W8HG3tewwGnQRyFbR8muKGS144HgfAVER 